{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About US...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Our World...</p>
        </div>
    </div>
</header></br></br>
<center><div class="card shadow p-4 mb-5 bg-body rounded" style="width: 108rem;">
  <img src="/static/assets/ball_bg.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-text">Welcome to our basketball ball store, where our passion for the game drives everything we do. Founded by a group of dedicated basketball enthusiasts, our store is more than just a place to buy balls – it's a hub for fellow hoop lovers to connect and share their love for the game.</br></br>

	As avid players ourselves, we understand the importance of having the right equipment to elevate your performance on the court. That's why we meticulously curate our collection to offer the best basketballs that meet the demands of players at every level.</br></br>

	But our store is more than just a business venture; it's a manifestation of our shared love for basketball. From the exhilarating sound of the ball swishing through the net to the adrenaline rush of a perfectly executed dunk, basketball ignites a passion within us that we are thrilled to share with our customers.</h4>
  </div>
</div></center>
</br></br>

{% endblock %}