{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Your Profile &#x1F680</h1>
            <p class="lead fw-normal text-white-50 mb-0">Time for a Refresh: Update Your Profile! Keep your information current and your profile shining bright. Let's make sure you're putting your best foot forward!</p>
        </div>
    </div>
</header></br></br>
<div class="container shadow p-4 mb-5 bg-body rounded">
    <div class="row ">

            <div class='8-col'>
            <form method="POST" action="{% url 'update_user' %}">
                {% csrf_token %}

                {{ user_form.as_p }}
                <br/><br/>
                <button type="submit" class="btn btn-dark">Update Profile</button>
                <a href="{% url 'update_password' %}" class="btn btn-outline-dark">Update Password</a>
            </form>
            </div>
    </div>
</div>
</br></br></br></br>
</br></br></br></br>
</br></br></br></br>
{% endblock %}